<%= form_for @book, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title %>
  </div>
  <div class="control-group">
    <%= f.text_field :title, :class => 'text_field' %>
  </div>

  <div class="control-group">
    <%=f.label :description %>
  </div>
  <div class="control-group">
    <%= f.text_area :description, :class => 'text_field', :style => "width:480px;", :rows => "10" %>
  </div>

  <div class="control-group">
      <%= f.label :category %>
  </div>
  <div class="control-group">
    <%= collection_select(:book, :category, @categories, :to_s, :to_s, {}, {:class => "selectpicker", :'data-style' =>"btn-primary"}) %>
  </div>
    

  <div class="control-group">
      <%= f.label :tag_list %>
  </div>
  <div class="control-group" class="select2-container select2-container-multi" style="width:380px;" >
      <%= f.text_area :tag_list, data: {autocomplete_source: Book.tag_counts.map(&:name)} %>
  </div>

  <div class="form-actions">
    <div class="pull-left"> 
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
    <%= button_to t('.cancel', :default => t("helpers.links.cancel")),
                :back, :class => 'btn' %>
  </div>
<% end %>
