<%= form_for @book, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= collection_select(:book, :category, @categories, :to_s, :to_s, {}, {:class => "selectpicker", :'data-style' =>"btn-primary"}) %>
      </div>
    </div>

  <div class="control-group">
      <%= f.label :tag_list, "Tags (separated by commas)" %>
      <div class="controls" class="select2-container select2-container-multi" >
          <%= f.text_field :tag_list, data: {autocomplete_source: Book.tag_counts.map(&:name)} %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn' %>
  </div>
<% end %>
