<%= render :partial=>'book', :lokals => {:is_remote => false} %>
<br>
<% i = 0 %>
<% @chapters.each do |chapter| %>
  <div id='chapter-<%= chapter.id %>' class="well">   
    <div class="container-fluid"> 
      <div class="row-fluid">         
        <div class="span12">
          <% i+=1 %>
          <b><%= link_to chapter.title, book_chapters_path(@book)+"?page=#{i}" %> </b>
          <i><%= @book.created_at.to_time.strftime('%H:%M %-d %b %Y') %> </i>
        </div>  
      </div> 
      <% if can? :cud, @book %> 
        <div class="form-search form-horizontal">          
            <div class="pull-left">        
            <%= button_to t('.edit', :default => t("helpers.links.edit")),
                        edit_book_chapter_path(@book,chapter),
                        :method => :get, 
                        :class => 'btn btn-mini' %>
            </div>   
            <%= button_to t('.destroy', :default => t("helpers.links.destroy")),
                        book_chapter_path(@book,chapter),
                        :method => :delete,
                        :remote => true,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>          
        </div>
      <% end %>
    </div>      
  </div>
<% end %>
<% if can? :cud, @book %>
  <%= button_to t('.new_chapter', :default => t("helpers.links.new_chapter")),
                          new_book_chapter_path(@book.id),
                          :method => :get,
                          :class => 'btn btn-primary' %>
<% end %>