<%= form_for [@book,@chapter], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title %>
  </div>
  <div class="control-group">
    <%= f.text_field :title, :class => 'text_field' %>
  </div>

  <div class="control-group">
    <%=f.label :content %>
  </div>
  <div class="control-group">
    <%= f.text_area :content, :class => 'text_field', :id => "markItUp" %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                :back, :class => 'btn' %>
  </div>
<% end %>