<div class="page-header">
  <h2><%= link_to @book.title, book_path(@book) %></h2>
  <i><%= t(:by) %> <%= link_to @book.user.username, author_path(u @book.user.username) if @book.user %></i>
</div>
<% @chapters.each do |chapter| %>
  <% @chapter = chapter %>
  <%= render :partial => 'read' %>
<% end %>
<%= will_paginate(@chapters, renderer: BootstrapPagination::Rails) %>
