<h1>Listing chapters</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Book</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.title %></td>
        <td><%= chapter.content %></td>
        <td><%= link_to 'Show', book_chapter_path(@book, chapter) %></td>
        <td><%= link_to 'Edit', edit_book_chapter_path(@book, chapter) %></td>
        <td><%= link_to 'Destroy', [@book, chapter], :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New chapter', new_book_chapter_path(@book) %>
