<div class="page-header">
  <h2><%= link_to @book.title, book_path(@book) %></h2>
  <i><%= t(:by) %> <%= link_to @book.user.username, author_path(u @book.user.username) if @book.user %></i>
</div>
<% @chapters.each do |chapter| %>
  <div class="well sidebar-nav">   
    <div class="container-fluid"> 
      <div class="row-fluid">         
        <div class="span8">
          <h2><%= chapter.title %></h2>  
          <i><%= chapter.created_at.to_time.strftime('%H:%M %-d %b %Y') %></i>
          <%= markdown(chapter.content) %>            
        </div>
      </div> 
      <% if can? :ud, @book %> 
        <div class="form-search form-horizontal">          
            <div class="pull-left">        
            <%= button_to t('.edit', :default => t("helpers.links.edit")),
                        edit_book_chapter_path(@book,chapter),
                        :method => :get, 
                        :class => 'btn' %>
            </div>   
            <%= button_to t('.destroy', :default => t("helpers.links.destroy")),
                        book_chapter_path(@book,chapter),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger' %>          
        </div>
      <% end %>
    </div>      
  </div>
<% end %>
<br>
<%= will_paginate(@chapters) %>
